---
import About from "@/components/cv_sections/About.astro"
import Education from "@/components/cv_sections/Education.astro"
import Experience from "@/components/cv_sections/Experience.astro"
import Hero from "@/components/cv_sections/Hero.astro"
import Skills from "@/components/cv_sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import { basics } from "@cv"
const { name } = basics
---
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{name}'s CV</title>
</head>
<body>
    <main>
        <Hero />
        <About />
        <Experience />
        <Education />
        <Skills />
    </main>

    <KeyboardManager />
</body>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
    }
    code {
        font-family:
                Menlo,
                Monaco,
                Lucida Console,
                Liberation Mono,
                DejaVu Sans Mono,
                Bitstream Vera Sans Mono,
                Courier New,
                monospace;
    }
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }

    @media (width <= 700px) {
        main {
            padding: 2rem;
        }
    }
</style>
