---
import { skills } from "@cv"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import TypeScript from "@/icons/type.astro"
import Node from "@/icons/node.astro"
import MySQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/github.astro"
import NestJs from "@/icons/nest.astro"
import Java from "@/icons/java.astro"
import Angular from "@/icons/angular.astro"
import Kotlin from "@/icons/kotlin.astro"
import AstroIcn from "@/icons/astro.astro"
import Bun from "@/icons/bun.astro"
import SQL_Server from "@/icons/sql-server.astro"
import Python from "@/icons/python.astro"
import Docker from "@/icons/docker.astro"
import Travis from "@/icons/travis-ci.astro"

const SKILLS_ICONS: Record<string, any> = {
    HTML,
    CSS,
    JavaScript,
    TypeScript,
    Node,
    MySQL,
    Java,
    NestJs,
    Git,
    GitHub,
    Kotlin,
    AstroIcn,
    Angular,
    Bun,
    SQL_Server,
    Python,
    Docker,
    Travis
}
---
<div class="box column">
    <h4>Skills</h4>
    <ul>
        {
            skills.map(({ name }) => {
                let iconName: string;
                switch (name){
                    case "Astro":
                        iconName = "AstroIcn"
                        break;
                    case "SQL Server":
                        iconName =  "SQL_Server"
                        break;
                    case "Travis CI":
                        iconName =  "Travis"
                        break;
                    case "GitHub Actions":
                        iconName =  "Travis"
                        break;
                    default:
                        iconName = name
                        break;
                }
                const Icon = SKILLS_ICONS[iconName]
                return (
                    <li>
                        {Icon && <Icon />} <span>{name}</span>
                    </li>
                )
            })
        }
    </ul>
</div>

<style>
.column{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    h4 {
        font-size: 2rem;
        margin: 0;
    }
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
        padding: 0 1rem ;
        margin: 0;
        justify-content: center;
    }
    li {
        align-items: center;
        background: #eee;
        border-radius: 6px;
        color: black;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        gap: 4px;
        padding: 0.2rem 0.6rem;
    }
}
</style>
